<div class="row">
    <div class="col-md-9 left-side">
        <img style="height:43vw;" src="../../assets/Images/Login.PNG">
        <div class="top-left"><b>REAL ESTATE REGISTRY AUTHORITY</b></div>
        <mat-spinner style="left: 45%;
        position: absolute;
        text-align: center;
        top: 50%;" mode="indeterminate" *ngIf="isLoading"></mat-spinner>
    </div>
    <div class="col-md-3 right-side">

        <form [formGroup]="loginForm" (ngSubmit)="onClickSubmit(loginForm.value)">
            <div class="row">
                <div class="col-md-12">
                    <label style="text-align: center;margin:1vw 1vw 1vw 1vw;font-size: 1.5vw;; display:block;">Login
                        As</label>
                </div>
            </div>&nbsp;
            <div class="form-group row">
                <div class="col-md-12">
                    <mat-chip-list [multiple]="false">
                        <mat-chip *ngFor="let chip of loggedInChips let i = index" color="primary"
                            [selected]="i === tmpindex" [value]="chip" (click)="selectedChip(chip);tmpindex=i;">
                            {{chip}}
                        </mat-chip>
                    </mat-chip-list>
                </div>
            </div>
            &nbsp;
            <div class="form-group row">
                <div class="col-md-12">
                    <input style="text-align: left; display:block;" type="text" id="aadhar" class="form-control"
                        formControlName="aadhar" placeholder="Aadhar Number"
                        [ngClass]="{ 'is-invalid': submitted && f['aadhar'].errors }" required autofocus>
                    <div *ngIf="submitted && f['aadhar'].errors" class="invalid-feedback">
                        <div style=" text-align: left; display:block;" *ngIf="f['aadhar'].errors['required']">Aadhar
                            Number
                            is required</div>
                        <div style=" text-align: left; display:block;" *ngIf="f['aadhar'].errors['pattern']">
                            Aadhar Number must be 12 digits long
                        </div>
                    </div>
                </div>
            </div>

            &nbsp;
            <div class="form-group row">
                <div class="col-md-12">
                    <input style="text-align: left; display:block;" class="col-xs-offset-2" type="password"
                        id="inputPassword" class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && f['password'].errors }" formControlName="password"
                        placeholder="Password" required>
                    <div *ngIf="submitted && f['password'].errors" class="invalid-feedback">
                        <div style=" text-align: left; display:block;" *ngIf="f['password'].errors['required']">
                            Password
                            is required</div>
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-12">
                    <app-button click="onClickSubmit()" [name]="'Login'" type="submit"></app-button>
                </div>
            </div>
            <br><br>
            <p style="font-size: 1vw;">
                <!-- <a style="color:black;" href="javascript: void(0);" (click)="setPassword()">
                    Forgot Passowrd</a> -->
                <a style="color:black;margin-left:1vw;" href="javascript: void(0);" (click)="setPassword()">
                    New User? Set Passowrd</a>
            </p>

        </form>
        <img class="responsive-logo" src="../../assets/Logo/App_Logo.png">
    </div>

</div>